<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <title></title>
</head>
<body>
  <div class="container">
    <h1>Sami's Hair Salon</h1>
    <div class="jumbotron">
      <form action = "/" method = "post">
       <label for = "stylist-name">Name</label>
       <input id = "stylist-name" name = "stylist-name" type = "text">
       <button type = "submit">Add Stylist</button>
     </form>

    </div>
    <h2>Stylists</h2>
    <ul>
      @if (Model.Count != 0)
      {
        @foreach (var stylist in Model)
        {
          <li><h3><a href="/stylists/@stylist.GetId()/clients"> @stylist.GetName()</a></h3>
              <a href="/stylist/edit/@stylist.GetId()"><button type="button">Edit</button></a>
              <form action="/stylist/delete/@stylist.GetId()" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" name=> Delete</button>
              </form>
           </li>
        }
      }
      else{
        <p>No Stylists have been Listed!</p>
      }
    </ul>
  </div>
</body>
</html>
