<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h3>Add a new client</h3>
        <form action ="/clients/new/@Model["stylist"].GetId()" method = "post">
          <label for = "client-name">Clients</label>
          <input id = "client-name" name = "client-name" type = "text" required>
          <button type = "submit">Add clients</button>
        </form>
          <h3>@Model["stylist"].GetName()'s client list</h3>
          @if (Model["clients"].Count != 0)
          {
            <ul>
              @foreach (var client in Model["clients"])
              {
                <li><h3> @client.GetName()</a></h3>
                  <a href="/clients/edit/@client.GetId()"><button type="button" name=> Edit</button></a>
                  <form action="/clients/delete/@client.GetId()" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" name=> Delete</button>
                  </form>
                </li>
              }
            </ul>
            }
          else
          {
              <h2>@Model["stylist"].GetName() does not have any clients yet</h2>
          }
          <a href="/">return home</a>
      </div>
    </div>
  </body>
</html>
