<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron">
      <h3>Add a new client</h3>
      <form action ="clients/new" method = "post">
        <label for = "stylist-name">Clients</label>
        <input id = "client-name" name = "client-name" type = "text" required>
        <button type = "submit">Add clients</button>
      </form>

  </body>
</html>
